.header
  .header__left
    .header__left__box
      = link_to "Habit Behavior", :back, class: 'btn'
  .header__right
    .header__right__edit
      使い方
      = link_to "サインアウト", destroy_user_session_path, method: :delete, class: 'btn'